@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --sombra: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --verde: #1ED760;
  --negro: #000000;
  --blanco: #fdfdfd;
  --grisClaro: #B3B3B3;
  --grisOscuro: #4D4D4D;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  height: 100vh;
}

audio {
  display: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
}

.player {
  background-color: var(--negro);
  box-shadow: var(--sombra);
  border-radius: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;


  .info {
    display: flex;
    flex-direction: column;
    margin: 10px 20px 0px 20px;

    .img {
      margin-top: 10px;
      width: 100%;
      margin-bottom: 10px;
    }

    .track {
      display: flex;
      gap: 1em;

      .track_info {
        display: flex;
        flex-direction: column;
        margin-left: 5px;

        .name {
          text-transform: capitalize;
          color: var(--blanco);
        }

        .artist {
          text-transform: capitalize;
          margin-top: 5px;
          color: var(--grisClaro);
        }
      }

      .icono {
        color: var(--verde);
      }

    }
  }

  .controls {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px 20px 20px 20px;

    .barra {
      margin-top: 5px;
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;

      .minutos {
        color: #B4B4B4;
        font-weight: 800;
        font-size: .6em;
        margin-left: .5em;
        margin-right: .5em;
      }
    }

    .barra input[type="range"] {
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: 5px;
      background: linear-gradient(to right, #1ed760 0%, #1ed760 0%, #1ed760 0%, #4D4D4D 0%);
      outline: none;
      margin: 0;
      padding: 0;
      border-radius: 2.5px;
    }

    .barra input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      display: none;
      width: 16px;
      height: 16px;
      background-color: #fff;
      border-radius: 50%;
      position: relative;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
      z-index: 1;
    }

    .barra input[type="range"]:hover::-webkit-slider-thumb {
      display: flex;
    }

    .botones {
      display: flex;
      margin-top: 20px;
      margin-bottom: 5px;
      color: var(--blanco);
      justify-content: center;
      align-items: center;
      gap: 2em;

      .play {
        font-size: 2.5em;
        transition: transform 0.1s ease-in-out;
      }

      .play:hover {
        transform: scale(1.1);
      }

      .mover {
        color: var(--grisClaro);
        font-size: 1.5em;
        transition: transform 0.1s ease-in-out;
      }

      .mover:hover {
        color: var(--blanco);
      }
    }
  }
}



@media (min-width: 820px) {

  div {
    display: flex;
  }

  .player {
    display: flex;
    align-items: center;
    width: 70%;
    height: 120px;
    flex-direction: row;

    .info {
      padding: 0px 10px 0px 10px;
      width: 100%;
      height: 100%;
      margin: 0px;

      display: flex;
      flex-direction: row;
      align-items: center;

      /* border: 1px solid red; */


      .img {
        margin-right: 5px;
        width: 100px;
        margin-top: 0px;
        margin-bottom: 0px;

      }

      .track {
        display: flex;
        align-items: center;

        .track_info {

          .name {
            white-space: nowrap;
          }
        }
      }
    }

    .controls {
      padding: 0px 10px 0px 10px;
      margin-right: 1em;
      margin: 0px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .botones {
        margin-top: 0px;
        margin-bottom: 0px;

        .play {
          font-size: 3em;
        }

        .mover {
          font-size: 1.5em;
        }
      }

      .barra {
        margin-top: 10px;
      }
    }
  }

}

@media (max-width: 820px) {
  .player {
    width: 70%;
  }
}